<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid m-1">
    <a class="navbar-brand text-center" href="/"><b>Bussines Consulting <span class="text-primary">.</span></b></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item d-flex">
          <a class="nav-link text-dark fw-bold align-self-center" href="/">Inicio</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link text-dark fw-bold align-self-center" href="/about">Quienes Somos</a>
        </li>
        <li class="nav-item d-flex">
          <a class="nav-link text-dark fw-bold align-self-center" href="/services">Servicios</a>
        </li>
        </li>
        <li class="nav-item">
          <a class="btn btn-primary m-1" href="/contact">Contactanos</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
 