
{{#> main}}

{{/main}}

<section>
  <div class="row g-0 h-100">
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <h1 class="display-4 fw-bold mb-4">Sobre nosotros<span class="text-primary">.</span></h1>
        <p class="lead mb-4">Tú socio de confianza.</p>
      </div>
    </div>
    <div class=" col-lg-6 d-flex">
      <div class="content mx-auto align-self-center px-4">
        <ul class="list-unstyled">
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Mision<span class="text-primary"></p>
              <p>Nuestra misión es proporcionar soluciones tecnológicas innovadoras y personalizadas que impulsen el crecimiento y la transformación digital de nuestros clientes, mejorando su competitividad y eficiencia en el mercado<span class="text-primary"></span>.</p>
            </div>
          </li>
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Vision<span class="text-primary"></p>
              <p>Ser líderes en el desarrollo y la implementación de soluciones tecnológicas, reconocidos por nuestra capacidad de adaptarnos a las necesidades cambiantes de nuestros clientes y el compromiso con la excelencia y la innovación<span class="text-primary"></span>.</p>
            </div>
          </li>
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Historia<span class="text-primary"></p>
              <p>Nuestra empresa ha crecido de un pequeño equipo de apasionados de la tecnología. Desde nuestros humildes comienzos, nos hemos enfocado en proporcionar soluciones innovadoras y de alta calidad a nuestros clientes<span class="text-primary">.</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>


