
{{#> main}}

{{/main}}

<section>
  <div class="row g-0 h-100">
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <h1 class="display-4 fw-bold mb-4">Sobre nosotros<span class="text-primary">.</span></h1>
        <img src="/img/Logo empresarial.png" class="img-fluid">
        <p class="lead mb-4">Tú socio de confianza.</p>
      </div>
    </div>
    <div class=" col-lg-6 d-flex">
      <div class="content mx-auto align-self-center px-4">
        <ul class="list-unstyled">
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Mision<span class="text-primary"></p>
              <p>Nuestra misión es proporcionar soluciones tecnológicas innovadoras y personalizadas que impulsen el crecimiento y la transformación digital de nuestros clientes, mejorando su competitividad y eficiencia en el mercado<span class="text-primary"></span>.</p>
            </div>
          </li>
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Vision<span class="text-primary"></p>
              <p>Ser líderes en el desarrollo y la implementación de soluciones tecnológicas, reconocidos por nuestra capacidad de adaptarnos a las necesidades cambiantes de nuestros clientes y el compromiso con la excelencia y la innovación<span class="text-primary"></span>.</p>
            </div>
          </li>
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Compromiso Social<span class="text-primary"></p>
              <p>Estamos comprometidos con nuestra comunidad y el medio ambiente. Participamos en diversas iniciativas sociales y sostenibles para contribuir positivamente a la sociedad y reducir nuestro impacto ambiental.<span class="text-primary">.</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row g-0 h-100">
      <div class=" col-lg-6 d-flex">
      <div class="content-2 mx-auto align-self-center px-4">
        <ul class="list-unstyled">
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step-2">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Nuestros Valores<span class="text-primary"></p>
              <p class="fw-bold">Innovación<span class="text-primary">:</span></p>
              <p>Siempre buscamos nuevas formas de mejorar y ofrecer soluciones vanguardistas.<span class="text-primary"></span>.</p>
              <p class="fw-bold">Compromiso<span class="text-ptimary">:</span></p>
              <p>Nos dedicamos a cumplir con las expectativas de nuestros clientes y superar sus metas.</p>
              <p class="fw-bold">Calidad<span class="text-ptimary">:</span></p>
              <p>Priorizamos la excelencia en todos nuestros proyectos y servicios.</p>
              <p class="fw-bold">Integridad<span class="text-ptimary">:</span></p>
              <p>Actuamos con honestidad y transparencia en todas nuestras interacciones.</p>
            </div>
          </li>
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Nuestro Equipo<span class="text-primary"></p>
              <p>Contamos con un equipo de profesionales altamente calificados y con experiencia en diversas áreas de la tecnología. Nuestro equipo está compuesto por desarrolladores, diseñadores, consultores y expertos en marketing digital que trabajan juntos para ofrecer los mejores resultados a nuestros clientes<span class="text-primary"></span>.</p>
            </div>
          </li>
          <li class="d-flex mb-4">
            <p class="text-primary lead fw-bold step">-</p>
            <div class="ms-3">
              <p class="lead fw-bold">Historia<span class="text-primary"></p>
              <p>Nuestra empresa ha crecido de un pequeño equipo de apasionados de la tecnología. Desde nuestros humildes comienzos, nos hemos enfocado en proporcionar soluciones innovadoras y de alta calidad a nuestros clientes<span class="text-primary">.</span></p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <h1 class="display-4 fw-bold mb-4">Sobre nosotros<span class="text-primary">.</span></h1>
        <img src="/img/Logo empresarial.png" class="img-fluid">
        <p class="lead mb-4">Tú socio de confianza.</p>
      </div>
    </div>
  </div>
</section>




