
{{#> layout}}

{{/layout}}

<section>
  <div class="row g-0 h-100">
    <div class=" col-lg-6 d-flex">
      <div class="content mx-auto align-self-center px-4">
        <small class="c-bloc text-primary mb-3"> <span class="badge bg-primary me-2">Nuevo</span>
          Adquire los mejores servicios para tu empresa ahora.
        </small>
        <h1 class="display-4 fw-bold mb-4">La mejor consultoria empresarial<span class="text-primary">.</span></h1>
        <p class="lead mb-4">Tú socio de confianza en consultoria empresarial.</p>
        <a href="/services" class=" btn btn-primary">Nuestros Servicios</a>
      </div>
    </div>
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <img src="/img/Logo.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
