{{#> layout}}

{{/layout}}

<section>
  <div class="row g-0 h-100">
    <div class=" col-lg-6 d-flex py-4">
      <div class="content mx-auto align-self-center px-4">
        <small class="c-bloc text-primary mb-3"> <span class="badge bg-primary me-2">Nuevo</span>
          Adquire los mejores servicios para tu empresa ahora.
        </small>
        <h1 class="display-4 fw-bold mb-4">La mejor consultoria empresarial<span class="text-primary">.</span></h1>
        <p class="lead mb-4">Tú socio de confianza en consultoria empresarial.</p>
        <!--- <a href="/services" class=" btn btn-primary">Nuestros Servicios</a> -->
      </div>
    </div>
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <img src="/img/logo de inicio.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row g-0 h-100">
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <img src="/img/blog1.jpg" class="img-fluid">
      </div>
    </div>
    <div class=" col-lg-6 d-flex">
      <div class="content mx-auto align-self-center px-4">
        <h1 class="display-4 fw-bold mb-4">Nuestros Servicios<span class="text-primary">.</span></h1>
        <p class="lead mb-4">En J&D Bussines Consulting, estamos comprometidos a proporcionar soluciones personalizadas y estratégicas que impulsen el crecimiento y el éxito de su empresa. Con un enfoque integral y una amplia experiencia en diversas industrias, nuestros servicios están diseñados para abordar sus desafíos más críticos y convertirlos en oportunidades. Ya sea que necesite optimizar sus operaciones, mejorar su desempeño financiero, o definir una estrategia clara para el futuro, nuestro equipo de expertos está aquí para ayudarle en cada paso del camino.</p>
        <a href="/services" class=" btn btn-primary">Nuestros Servicios</a>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row g-0 h-100">
    <div class=" col-lg-6 d-flex">
      <div class="content mx-auto align-self-center px-4">
        <h1 class="display-4 fw-bold mb-4"><span class="text-primary">¿</span>Por Qué Elegir Nuestra Consultoría<span class="text-primary">?</span></h1>
        <p class="lead mb-4">En J&D Bussines Consulting, entendemos que cada empresa enfrenta desafíos únicos y necesita soluciones a medida. Nuestro compromiso es proporcionar una consultoría estratégica y personalizada que genere resultados tangibles y duraderos.</p>
        <a href="/about" class=" btn btn-primary">Quienes Somos</a>
      </div>
    </div>
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <img src="/img/blog2.jpg" class="img-fluid">
      </div>
    </div>
  </div>
</section>
<section>
  <div class="row g-0 h-100">
    
    <div class=" col-lg-6 d-flex bg-white">
      <div class="content mx-auto align-self-center px-4">
        <img src="/img/blog3.jpg" class="img-fluid">
      </div>
    </div>
    <div class=" col-lg-6 d-flex">
      <div class="content mx-auto align-self-center px-4">
        <h1 class="display-4 fw-bold mb-4"><span class="text-primary">¡</span>Contactanos Ahora<span class="text-primary">!</span></h1>
        <p class="lead mb-4">Tú socio de confianza en consultoria empresarial.</p>
        <a href="/contact" class=" btn btn-primary">Contactanos</a>
      </div>
    </div>
  </div>
</section>