{{#> main}}
<div class="container mt-5">
  <h1>Selecciones de Servicios</h1>
  <ul class="list-group">
    {{#each selections}}
      <li class="list-group-item">
        <h5>Cliente: {{this.customer_name}}</h5>
        <p>Email: {{this.customer_email}}</p>
        <p>Servicio: {{this.title}}</p>
      </li>
    {{/each}}
  </ul>
</div>
{{/main}}
