
{{#> layout}}

{{/layout}}

<section class="d-flex py-5">
  <div class=" container align-self-center">
    <h1 class="display-4 fw-bold ">Nuestros servicios<span class="text-primary">.</span></h1>
    <h2 class="lead mb-4">Tú socio de confianza.</h2>
    <div class="row gx-5">
      <div class="col-lg-4">
        <a href="#" class="text-decoration-none">
          <img src="/img/software.jpg" class="img-fluid mb-4">
          <div class="d-flex mb-4">
          </div>
          <p class="lead text-dark fw-bold mb-4">Desarrollo Web Personalizado</p>
          <p class=" lead text-dark mb-4">Creamos sitios web a medida que se adaptan a las necesidades específicas de tu negocio, utilizando las últimas tecnologías y tendencias del mercado.</p>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="text-decoration-none">
          <img src="/img/movil.jpg" class="img-fluid mb-4">
          <div class="d-flex mb-4">
          </div>
          <p class="lead text-dark fw-bold mb-4">Desarrollo de Aplicaciones Móviles</p>
          <p class=" lead text-dark mb-4">Desarrollamos aplicaciones móviles para iOS y Android que proporcionan una experiencia de usuario excepcional y ayudan a tu negocio a alcanzar a los clientes en cualquier lugar.</p>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="text-decoration-none">
          <img src="/img/consultoria.jpg" class="img-fluid mb-4">
          <div class="d-flex mb-4">
          </div>
          <p class="lead text-dark fw-bold mb-4">Consultoría en Transformación Digital</p>
          <p class=" lead text-dark mb-4">Ayudamos a las empresas a adaptarse a la era digital mediante estrategias de transformación digital que optimizan procesos y mejoran la eficiencia operativa.</p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="d-flex py-5">
  <div class=" container align-self-center">
    <div class="row gx-5">
      <div class="col-lg-4">
        <a href="#" class="text-decoration-none">
          <img src="/img/soporte.jpg" class="img-fluid mb-4">
          <div class="d-flex mb-4">
          </div>
          <p class="lead text-dark fw-bold mb-4">Mantenimiento y Soporte Técnico</p>
          <p class=" lead text-dark mb-4">Ofrecemos servicios de mantenimiento y soporte técnico para garantizar que tus sistemas y aplicaciones funcionen de manera óptima y sin interrupciones.</p>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="text-decoration-none">
          <img src="/img/marketing2.jpg" class="img-fluid mb-4">
          <div class="d-flex mb-4">
          </div>
          <p class="lead text-dark fw-bold mb-4">Marketing Digital y SEO</p>
          <p class=" lead text-dark mb-4">Mejoramos la presencia en línea de tu negocio mediante estrategias de marketing digital y optimización en motores de búsqueda (SEO) que incrementan la visibilidad y atraen más clientes.</p>
        </a>
      </div>
      <div class="col-lg-4">
        <a href="#" class="text-decoration-none">
          <img src="/img/negocio.jpg" class="img-fluid mb-4">
          <div class="d-flex mb-4">
          </div>
          <p class="lead text-dark fw-bold mb-4">Consultoría de Estrategias de Negocio</p>
          <p class=" lead text-dark mb-4">Ayudamos a las empresas a definir y alcanzar sus objetivos estrategicos mediante un analisis exhaustivo del mercado y la competencia.</p>
        </a>
      </div>
    </div>
  </div>
</section>

